

h1.logo-wrapper {
  margin: 0px 0px;
}

header#header {
  z-index: 10;
}

header .brand-logo {
  margin: 1px 0px;
  padding: 0 20px;
  line-height: 60px;
}

footer.page-footer {
  z-index: 1000;
  padding-top: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;

  .footer-copyright {
    text-align: center;
  }
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.center {
  display: block;
  margin: 0 auto;
}

#login-page {
  padding: 100px 200px;
}

#user-list {
  left: inherit;
  right: 0;
  top: 64px;
}

game-header {
  z-index: 1000;
}

.comm-area {
  position: absolute;
  top: 64px;
  left: 0px;
  right: 240px;
  bottom: 50px;

  .chat-logs {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 100px;
    right: 0px;
  }
  textarea {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 100px;
    border: 1px solid #aaa;
    resize: none;
  }
}